*{
  padding: 0;
  margin: 0;
  font-family: 'Open Sans';
}

#whole-page{
  background: linear-gradient(rgba(128, 223, 255, 1), rgba(128, 223, 255, 0));
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title{
  text-align: center;
  padding: 20px 0px;
}

#supported-sites-title{
  text-align: center;
}

#site-cols-container{
  width: 100vw;
  display: flex;
  flex-wrap: "wrap";
  justify-content: space-evenly;
  padding: 10px 0px;
}

.site-col{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.site-col a{
  padding: 5px 0px;
}

.warning{
  text-align: center;
  background-color: red;
  padding: 3px;
  width: 45vw;
}

label{
  display: block;
  text-align: center;
}

#url-input{
  width: 46vw;
  height: 4vh;
  background: white;
  border-radius: 10px 0px 0px 10px;
  outline: none;
}

#sub-btn{
  width: 120px;
  height: 4vh;
  flex: 0 0 auto;
  color: black;
  background: gold;
  border-radius: 0px 10px 10px 0px;
  outline: none;
}

#sub-btn:enabled:hover{
  box-shadow: 1px 1px 3px;
}

#sub-btn:disabled{
  background-color: lightgray;
}

.loading {
  border: 16px solid white;
  border-top: 16px solid rgba(128, 223, 255, 1);
  border-radius: 50%;
  width: 20vh;
  height: 20vh;
  margin-top: 10vh;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

#recipe-textarea{
  width: 100%;
  border-radius: 10px;
}

/* DOWNLOAD COMP */

#download input{
  width: 46vw;
  height: 4vh;
  background: white;
  border-radius: 10px 0px 0px 10px;
}

#download button {
  width: 120px;
  height: 4vh;
  color: black;
  background: gold;
  border-radius: 0px 10px 10px 0px;
  outline: none;
}

#download button:enabled:hover{
  box-shadow: 1px 1px 3px;
}
