.loading {
  border: 16px solid white;
  border-top: 16px solid rgba(128, 223, 255, 1);
  border-radius: 50%;
  width: 20vh;
  height: 20vh;
  margin-top: 10vh;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.recipeTextarea {
  width: 100%;
  border-radius: 4px;
}
