@import "styles";

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 $space-within $space-smallest;
  border-bottom: 1px solid $color-highlight;
  background-color: $color-element;
  @include md-screen {
    flex-direction: row;
    padding-bottom: 0;
  }

  & > * {
    padding: $space-nano 0;
  }

  &__logoTitleArea {
    display: flex;
    align-items: center;
  }

  &__logo {
    height: $space-larger * 2;
    width: $space-larger * 2;
  }

  &__title {
    font-size: 3rem;
    padding-left: $space-smaller;
  }
}
