@import "styles";

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: $space-within;
  border-bottom: 1px solid $color-highlight;
  background-color: $color-element;
  @include md-screen {
    flex-direction: row;
    padding: 0 $space-within;
  }

  > * {
    margin: unset;
  }

  &__logoTitle {
    display: flex;
    align-items: center;
    padding: $space-smallest 0;
  }

  &__logo {
    height: $space-larger * 2;
    width: $space-larger * 2;
  }

  &__title {
    font-size: 3rem;
    padding-left: $space-smaller;
  }
}
