@import "styles";

.recipeRow {
  padding-bottom: $space-within;

  & + & {
    padding-top: $space-within;
    border-top: 1px solid $color-highlight;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }
}
