@import "styles";

.recipeRow {
  padding-bottom: $space-within;

  & + & {
    padding-top: $space-within;
    border-top: 1px solid $color-highlight;
  }

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include sm-screen {
      flex-direction: row;
    }
  }
}
