@import "styles";

.form {
  &__warning {
    color: $color-bad;
  }

  &__autosizingTextarea {
    resize: vertical;
    width: 100%;
    border-radius: $radius;
  }

  &__inputButtonBarContainer {
    display: flex;
    flex-direction: column;

    @include sm-screen {
      flex-direction: row;
    }
  }

  &__inputButtonBarInput {
    flex: 1;
  }

  &__recipeButtonSection {
    display: flex;
    flex-direction: column;
  }
}
