@import "styles";

.tags {
  display: flex;
  flex-wrap: wrap;

  &__tag {
    padding-right: $space-smallest;

    &:after {
      content: ",";
    }
    &:last-of-type:after {
      content: "";
      padding-right: 0;
    }
  }
}
