@import "@/styles";

.modal {
  padding: 0;
  border: none;
  border-radius: $radius;

  &::backdrop {
    background: rgba(0, 0, 0, 0.6);
  }

  &__closeButtonContainer {
    display: flex;
    justify-content: flex-end;
  }
}
